body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.logo{
  height: 5em;
}

.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  color: mediumaquamarine;
}
.card-text{
  color: mediumaquamarine;
}

footer {
  text-align: right;
  color: midnightblue;
}

.title-image{
  float: left;
  width: 300px;
  height: 200px;
  margin-right: 50px;
}
.card{
  width: 45%;
  display: inline;
}
.left{
  float: left;
}
.right{
  float: right;
}
.Creative, h2{
  color: gold;
}

/* @media (max-width: 680px) {
  h1{
    font-size: 2em;
    text-align:center;

  }
  .logo{
    height: 1rem;
    width: 2rem;
  }
  p{
    font-size: small;
  }
  img{
    height: 200px;
    /* width: 280px; */
    /*width: 100%;
  }
}   */

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}